@using QUEMENARRASANGULAR.Web.Helpers;




<div ng-controller="app.views.home as vm">
    
    <div style="text-align:center">
       
        <p class="lead">@L("Home_ThisIsATemplate")</p>
    </div>

    <span>Angular: {{erroresAngular}}</span>
     @{
         var locale = LocationByIPHelper.GeoLocate();         
     }

 
    <div id="mapgoogle" ng-init="map.center = { latitude: @locale.Latitude.ToString().Replace(",","."), longitude: @locale.Longitude.ToString().Replace(",",".") }">


                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" events="map.events">

                </ui-gmap-google-map>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h3>¿No encuentras lo que buscas?</h3>
            <p>
                Sacar aquí tags
            </p>
        </div>

        <div class="col-md-4">
            <h3>¿Qué ocurre cerca de ti?</h3>
            <p>
                Sacar aquí tags
            </p>

        </div>
        <div class="col-md-4">
            <h3>Top En Valencia</h3>
            <p>
                Sacar aquí tags
            </p>
        </div>
      
    </div>




</div>